/*
http://www.w3.org/Style/Examples/007/center.en.html
https://css-tricks.com/centering-css-complete-guide/
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
https://css-tricks.com/all-about-floats/

*/

/* *************************************************************************** */
/* ******************************** common *********************************** */
/* *************************************************************************** */

body {
	background-color: #cccccc; 
	color: #606060;
	padding:10px;
}
A:link {color: #6666bb;}
A:visited {color: #5555aa;}
A:focus {color: #6666dd;}
A:hover {color: #6666dd;}
A:active {color: #aa6666;}

body.picture {background-color: #222222; color: khaki;}

html {
  box-sizing: border-box;
}

#shell {
	displayXXX: flex;
	flex-directionXXX: column; 

}


*, *:before, *:after {
  box-sizing: inherit;
}
.topMenu2,
.topMenu {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	display: inline;
	position:relative;
}
.topMenu2 li, 
.topMenu li { 
	display: inline-block;
}

.topMenu2 li a,
.topMenu li a {
	text-decoration: none;
	padding: .2em 1em;
	color: #606060;
	display: inline-block;
	background-color: #efe;
	font-family:helvetica; 
	border: 1px solid #606060;
}
.topMenu2 li a {
	color: #333333;
	background-color: #ffdddd;
	width:80px;
	padding: .2em .5em;
	font-size:14px;
}
.topMenu2 {
	top: -14px;
	left:20px;
}


#picture {
	float:left;
}


#galleries .expandable {
	display: flex;
	flex-direction: column; 
}

div.related {
    cursor: pointer;
}
#galleries .isExpanded > .expand > .leftColumn,
#galleries .expand .leftColumn, {
	width: 75%;
}

#galleries .leftColumn .leftColumnImage,
#galleries .leftColumnRelated .leftColumnImage {
	float:right;
}


#galleries .leftColumn .related,
#galleries .leftColumnRelated .relatedImage {
	widthX: 25%;
	display:none;
}


#galleries .showRelated .leftColumn .related,
#galleries .showRelated .leftColumn .related div,
#galleries .showRelated .leftColumn .related div img,
#galleries .showRelated .leftColumnRelated .relatedImage {
	widthX: 75%;
	display:block;
}


#galleries .rightColumn {
	width: 25%;
	display: flex;
	flex-direction: column; 
}

#galleries .expandClose {
  positionX: absolute;
  font-size: 35px;
  line-height: 35px;
  align-self:flex-end;
  text-decoration: none;
  cursor: pointer;
}

.expandClose:hover {
  color: #fff;
}

#galleries .relatedPictures {
	display: flex;
	flex-direction: column; 
}
.largeImage {
  max-widthX: 100%;
  max-width: 596px;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  display:block;
}


.cell .showRelated .leftColumn div {
  display:none;
}

.cell .showRelated .leftColumn div.related {
  display:block;
}

.cell .leftColumn.related {
  display:none;
}

.cell .showRelated .leftColumn.related {
  display:block;
}

.cell .showRelated .leftColumn.main {
  display:none;
}

.imageGrid {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

#galleries .imageGrid {
	background-color: #dde;
}
#galleries .imageGrid .imageGrid{
    border: 1px solid #a59a94;
}

#galleries .imageGrid .title {
	position: relative;
	font-weight:bold; 
	font-family:helvetica; 
	letter-spacing:.1em;
	display: block;
  	text-align: center;
	background-colorX: #fff1e9;
	borderX: 1px solid #606060;
	background-colorX: #f5f0e8;
    background-color: #eae0d8;
    border: 1px solid #a59a94;
}

#galleries .imageGrid .imageGrid .title {
    border-top: none;
    border-left: none;
    border-right: none;
}

#galleries .imageGrid .leftColumnRelated .restoreMainPicture {
  	background-color:grey;
	text-align: center;
}

#galleries .imageGrid .leftColumn .title, 
#galleries .imageGrid .leftColumnRelated .title, 
#galleries .imageGrid .rightColumn .title {
	background-color: inherit;
}

#galleries .imageGrid .leftColumnRelated .title { 
    border-top: 2px solid linen;
}




#galleries .imageGrid .leftColumnRelated .subTitle { 
	font-family:helvetica; 
}

#galleries .imageGrid .rightColumn .related .title {
	font-weight:normal; 
}

#galleries .imageGrid .leftColumn .medium,
#galleries .imageGrid .leftColumnRelated .medium { 
	font-family:helvetica; 
  	text-align: center;
}

#galleries .imageGrid .leftColumn .description, 
#galleries .imageGrid .leftColumnRelated .description { 
	font-family:helvetica; 
}

#galleries .imageGrid .galleryDescription {
	position: relative;
	font-family:helvetica; 
	display: block;
  	text-align: center;
	background-color: #eae5e1;
	border-bottom: 1px solid #a59a94;
	border-left: 1px solid #a59a94;
	border-right: 1px solid #a59a94;
	border-top: none;
}

#galleries .imageGrid .imageGrid .galleryDescription {
	border-bottom: 1px solid #a59a94;
    border-top: none;
    border-left: none;
    border-right: none;
}

#galleries .imageGrid .imageGrid{
	background-color: #eaeaea;
}

#galleries .imageGrid .imageGrid .imageGrid{
	background-color: #e0e0e0;
}

#galleries  .imageGrid  .imageGrid  .imageGrid > .title {
	background-color: #eae5e1;
}


#galleries .imageGrid .imageGrid .imageGrid .imageGrid{
	background-color: #d6d6d6;
}

#galleries  .imageGrid  .imageGrid  .imageGrid .imageGrid > .title {
	background-color: #ddeeff;
}




.cell {
  padding-top: 20px;
  float: left;
  position: relative;
}

.basicImg {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  cursor:pointer;
}

.cell.isCollapsed .image {
  cursor: pointer;
}

.cell.isCollapsed .arrowUp {
  display: block;
}

.cell.isExpanded > .expandable > .arrowUp {
  display: block;
  border-bottom: 8px solid #cccccc;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  height: 0;
  width: 0;
  margin: 2px auto 0;
}

.subGalleryLinkContainer {
	position:relative;
	margin:0 auto;
}
.galleryTitle {
	color:linen;
	font-weight:bold; 
	font-family:helvetica; 
	letter-spacing:.1em;
	background: rgba(0, 50, 100, 0.3);
	text-align:center;
	margin:0 auto;
	position:absolute;
	top: 0;
}
.galleryTitleX:before {
   content: "Gallery: ";
}


.expand {
  position: relative;
  padding: 0;
  box-sizing: content-box;
  overflow: hidden;
  background: #cccccc;
  max-height: 0;
  transition: max-height .3s ease-in-out,
              margin-bottom .1s .2s;
  display:flex;
  flex-direction:row;
  align-items:flex-start;
}

/* https://blog.logrocket.com/creating-beautiful-tooltips-with-only-css/ */

.tooltip {
  position:relative; /* making the .tooltip span a container for the tooltip text */
  font-family:helvetica;
  font-size:9pt;
}

.tooltip.open::before {
	width:155px;
}

.tooltip.link::before {
	width:100px;
}

.tooltip.close::before {
	width:80px;
	margin-left:-120px;
}
.tooltip:before {
  content: attr(data-text); /* here's the magic */
  position:absolute;
  
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
  
  /* move to right */
  left:100%;
  margin-left:15px; /* and add a small left margin */
  
  /* basic styles */
  padding:5px;
  border-radius:5px;
  background:#fff;
  color: #000;
  text-align:center;
  z-index:900;
  opacity:0;
  transition:.3s opacity;
  visibility:hidden;
}

.tooltip:hover:before {
  opacity:1;
  visibility:visible;
}

/* *************************************************************************** */
/* *************************************************************************** */
/* ********************************** Desktop ******************************** */
/* *************************************************************************** */
/* *************************************************************************** */

@media (min-width: 568px) {

.cell {
	width:20%;
}


#masthead > div { float: left; margin-bottom:10px; }
#masthead .title {font-size: 55px; color:#333333; display:inline-block; width:300px; }

.topMenu {
	top:-14px;
}

.topMenu li a {
	height:30px;
	width:150px;
	padding:5px 8px 3px;	
}

.topMenu li a:hover {
	color: #303030;
	background-color:  #dfd;
}

#picture {
	width:576px;
	height:800px;
}

#galleries .expandable {
	height:151px;
	margin-bottomX: 20px;
}



#galleries .relatedPictures > .title {
	margin: 10px;
}

div.related {
	margin: 10px;
}

#galleries .leftColumn,
#galleries .leftColumnRelated {
	padding: 10px;
}

#galleries .leftColumn .related,
#galleries .leftColumnRelated .relatedImage {
	padding: 10px;
}

#galleries .expandClose {
  font-size: 35px;
  line-height: 35px;
  width:30px;
}

.largeImage {
  padding: 10px;
}

.imageGridX {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	padding: 20px 5px 0;
}

#galleries .imageGridX {
	max-width: 1310px;
	max-widthX: 664px;
	background-colorXXX: #FF8888;
	background-color: #224433;
}

.imageGrid {
	padding: 20px 0 0;
}

#galleries .imageGrid {
	max-width: 1310px;
	background-color: #f6f6f6;
}

#galleries .imageGrid > .title {
	top: -20px;
}

#galleries .imageGrid .title {
	font-size: 25px; 
	letter-spacing:.1em;
	padding:2px;
}
#galleries .imageGrid .leftColumnRelated .restoreMainPicture {
	font-size: 15px;
	margin: 5px 55px 25px;
}


#galleries .imageGrid .rightColumn .buttons {
	display:flex;
	flex-direction: row;
	justify-content:space-between;
}

#galleries .imageGrid .rightColumn .buttons img {
	height:25px;
	margin-top:10px;
}

#galleries .imageGrid .rightColumn .buttons .left {
	width:70px;
	display:flex;
	flex-direction: row;
	justify-content:space-between;
}

#galleries .imageGrid .rightColumn .buttons .right {
	width:35px;
	display:flex;
	flex-direction: row;
	justify-content:space-between;
}

#galleries .imageGrid .leftColumn .title, 
#galleries .imageGrid .leftColumnRelated .title {
	font-size: 20px;
	width:25%;
	border:none;
}

#galleries .imageGrid .leftColumnRelated .title { 
    padding-top: 15px;
	border:none;
}

#galleries .imageGrid .leftColumnRelated .subTitle { 
    padding-top: 5px;
	border:none;
}

#galleries .imageGrid .rightColumn .relatedPictures > .title {
	font-size:20px;
}

#galleries .imageGrid .rightColumn .title {
	font-size:15px;
	border:none;
}

#galleries .imageGrid .leftColumn .medium,
#galleries .imageGrid .leftColumnRelated .medium { 
	font-size: 20px;
	margin: 20px 10px;
	width:25%;
}

#galleries .imageGrid .leftColumn .description, 
#galleries .imageGrid .leftColumnRelated .description { 
	font-size: 15px;
	margin: 20px 10px;
}

#galleries .imageGrid .galleryDescription {
	top: -20px;
	font-size: 15px; 
	padding:5px;
}

#galleries .imageGrid .galleryDescription .multiLine {
	width:800px;
	text-align:justify;
	margin: 0 auto;
}

#galleries .imageGrid .galleryDescription .multiLine .blockQuote {
	margin: -10px 30px;
	color: #335544;
}

.quote, .blockQuote, i{
	font-styleX:italic;
	font-family: georgia;
}

#galleries .imageGrid .imageGrid{
	max-width: 1280px;
}


#galleries .imageGrid .imageGrid .imageGrid{
	max-width: 1250px;
	max-widthX: 604px;
}



.gallery,
.image {
  padding: 0 5px;
  margin: 5px 0;
  height:160px;
}



.cell.isCollapsed .arrowUp {
  height: 10px;
}


.galleryTitle {
	font-size: 18px; 
	width:144px;
	heightX: 112px;
	height: 100%;
	padding:5px;
}

.cell.isExpanded > .expand {
  max-height: 3500px;
  margin-bottom: 10px;
}

.expand {
  left: -5px;
}
.imageGrid .expand {
	width: 1200px;
	widthX: 644px;
}
.imageGrid .imageGrid .expand {
	width: 1170px;
	widthX: 614px;
}
.imageGrid .imageGrid .imageGrid .expand {
	width: 1140px;
	widthX: 584px;
}


.cell:nth-of-type(5n+1) .expand { margin-left: 9%; }
.cell:nth-of-type(5n+2) .expand { margin-left: -91%; } 
.cell:nth-of-type(5n+3) .expand { margin-left: -191%; } 
.cell:nth-of-type(5n+4) .expand { margin-left: -291%; } 
.cell:nth-of-type(5n+5) .expand { margin-left: -391%; } 
.cell:nth-of-type(5n+6) { clear: left; } 

.expand .cell:nth-of-type(5n+1) .expand { margin-left: 6%; } 
.expand .cell:nth-of-type(5n+2) .expand { margin-left: -94%; } 
.expand .cell:nth-of-type(5n+3) .expand { margin-left: -194%; } 
.expand .cell:nth-of-type(5n+4) .expand { margin-left: -294%; } 
.expand .cell:nth-of-type(5n+5) .expand { margin-left: -394%; } 
.expand .cell:nth-of-type(5n+6) { clear: left; } 

.expand .expand .cell:nth-of-type(5n+1) .expand { margin-left: 6%; } 
.expand .expand .cell:nth-of-type(5n+2) .expand { margin-left: -94%; } 
.expand .expand .cell:nth-of-type(5n+3) .expand { margin-left: -194%; } 
.expand .expand .cell:nth-of-type(5n+4) .expand { margin-left: -294%; } 
.expand .expand .cell:nth-of-type(5n+5) .expand { margin-left: -394%; } 
.expand .expand .cell:nth-of-type(5n+6) { clear: left; } 





}
